/* Header Start */
* {
    text-decoration: none !important;
    font-family: 'Mulish', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-bar {
    margin: 0 auto;
    width: 50% !important;
}

.ant-input-group-wrapper {
    flex: 1 0 0 !important;
    display: flex !important;
}

.ant-input-wrapper {
    background: #F2F2F2 !important;
    border: 1px solid #E0E0E0 !important;
    border-radius: 8px !important;
}

.ant-input {
    background-color: #F2F2F2;
}

.ant-input::placeholder {
    color: #828282 !important;
    font-size: 14px !important;
}

.ant-input-affix-wrapper {
    background-color: #F2F2F2;
}

.ant-input-group-addon {
    display: none !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
    border-color: #E0E0E0 !important;
}

.ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-start-end-radius: 8px;
    border-end-end-radius: 8px;
}


.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-start-start-radius: 8px;
    border-end-start-radius: 8px;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    border-color: #E0E0E0 !important;
    box-shadow: none !important;
    outline: 0;
}

.countOfShopping {
    padding: 0px 7px;
    color: white;
    border-radius: 50%;
    background: #2DD06E;
}

.hr-line {
    margin: 0;
    height: 2px;
    border-top: 1px solid #2DD06E !important;
    opacity: unset !important;
}

/* Search Area START */
.search-dropdown {
    width: inherit;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 8px;
    z-index: 10000;
    padding: 20px;
}

.latest-headings,
.most-searched-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-headings h6,
.most-searched-heading h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}

.latest-headings a {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #828282 !important;
}

.searchs__wrapper {
    margin-top: 16px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.latest-search {
    background: #EDF1F7;
    border-radius: 4px;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px;
    line-height: 20px;
    color: #4F4F4F !important;
    padding: 6px;
}

.most-searched-heading {
    margin-top: 26px;
}

/* Search Area END */

/***MEGAMENU START***/

.navbar-nav {
    gap: 56px;
}

.col-megamenu img {
    width: 68%;
}

.col-megamenu .title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}

.col-megamenu a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4F4F4F;
}

.navbar .has-megamenu {
    position: static !important;
}

.navbar .has-megamenu .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4F4F4F;
}


.navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
    border: none;
}

.has-megamenu .nav-link:focus {
    color: #2DD06E !important;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none !important;
}

.navbar-toggler {
    display: none;
    border: none !important;
}

.mobile-dropdown {
    display: none;
}

.transition {
    transition: all 0.3s ease-out;
}

.login-and-register-wrapper {
    display: none;
    justify-content: space-between;
    padding: 14px 0px;
    gap: 19px;
}

.login-btn {
    background: #FFFFFF !important;
    border: 1px solid #2DD06E !important;
    border-radius: 8px !important;
    color: #2DD06E !important;
    width: 50%;
}

.register-btn {
    width: 50%;
    background: #2DD06E !important;
    border-radius: 8px !important;
    color: white !important;
}

/***MEGAMENU END***/

/* Header End */

/* MAIN SECTION START */

.main-section {
    background: url('/public/images/mainsection-background.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.main-section .container {
    display: flex !important;
}

.ant-carousel .slick-dots li {
    width: 10px !important;
}

.ant-carousel .slick-dots li.slick-active button {
    background: #00D68F;
}

.carousel-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    gap: 150px;
}

.main-text h1 {
    font-style: normal;
    font-weight: 700 !important;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
}

.main-text p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
}


.ant-carousel .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: gray;
}

/* MAIN SECTION END */

/* BEST SELLER PRODUCT START */
.best-seller-products {
    margin-top: 100px;
    display: flex !important;
    gap: 20px !important;
}

.headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headings h6 {
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    color: #333333;
}

.headings a {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #333333 !important;
    display: flex;
    align-items: flex-end !important;
    gap: 10px;
}

.cards__wrapper {
    margin-top: 32px;
}

.card-wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100% !important;
    background: "#FFFFFF";
    box-shadow: 0px 0px 8px rgba(164, 164, 164, 0.4);
    border-radius: 4px;
}

.card-wrapper img {
    padding: 20px;
    height: 210px;
    margin: 0px auto;
}


.card__content {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}


.ant-card .ant-card-body {
    padding: 0 !important;
}

.card__content span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-top: 16px;
    margin-bottom: 20px;
}

.card__content a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    height: 48px;
    line-height: 24px;
    color: #333333 !important;
}

.slick-arrow {
    display: none !important;
}

.slick-track {
    display: flex !important;
    gap: 18px !important;
}

.bottom-heading {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 28px;
}

.bottom-heading a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #333333 !important;
    display: flex;
    align-items: flex-end !important;
    gap: 10px;
}

/* BEST SELLER PRODUCT END */

/* Ads Start */
.reklam-wrapper {
    display: flex;
    justify-content: space-between;
}

.reklam-wrapper img {
    max-width: 100% !important;
}

/* Ads End */


/* Access To Products Start */
.access-products-wrapper {
    margin-top: 100px;
}

.telefon-product-container {
    height: 729px;
    background: #E4E9F2;
    border-radius: 8px;
    position: relative;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.watch-product-container {
    position: relative;
    height: 356px;
    background: #E4E9F2;
    border-radius: 8px;
    display: flex;
    gap: 20px;
}

.accessory-product-container {
    position: relative;
    height: 356px;
    background: #E4E9F2;
    border-radius: 8px;
}

.accessory-product-container img {
    position: absolute;
    right: 25px;
    bottom: 0;
}

.telefon-product-container {
    display: flex;
    flex-direction: column;
}

.telefon-product-container .img-container img {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.watch-product-container img {
    position: absolute;
    right: 25px;
    bottom: 0;
}

.access-products-wrapper .product-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.access-products-wrapper .product-info h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #303030;
    margin-bottom: 0 !important;
}

.access-products-wrapper .product-info span {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #303030;
}

.access-products-wrapper .product-info a {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}

/* Access To Products End */

/* Our Advantage Start */
.our-advantage-wrapper {
    margin-top: 100px;
}

.advantage-container {
    display: flex;
    gap: 20px;
}

.advantage-container div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.advantage-container img {
    width: 64px;
}

.advantage-context {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* Our Advantage End */

/* Our Partners Start */
.our-partners-wrapper {
    background: #F5F5F7;
    margin-top: 136px;
    padding-top: 30px !important;
    padding-bottom: 48px !important;
}

.brands-container .brand {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 12px 15px;
}

/* Our Partners End */

/* Footer Start */
footer {
    background: #262626;
    color: white !important;
}

footer ul {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer ul>li {
    padding: 4px;
}

footer ul>li a {
    color: white !important;
    opacity: 0.8;
}


footer hr {
    border-width: 3px
}

.footer-card {
    padding: 5% 0%
}

.footer-social {
    display: flex !important;
    gap: 33px !important;
}

footer .policy>a {
    padding: 4px;
    color: white !important;
    opacity: 0.8;
}

footer .heading {
    color: white;
}

.divider-destkop {
    border-top: 2px solid;
    opacity: 0.1;
}

.divider-mobile {
    border-top: 2px solid;
    opacity: 0.1;
    display: none;
}

footer .card-text img {
    width: 16px;
}

footer .address1 {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2DD06E;
    opacity: 0.8;
}

footer .contact li {
    display: flex;
    gap: 18px;
    align-items: center;
}

.footer-destkop-bottom {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.footer-mobile-bottom {
    display: none;
}

.policy-mobile {
    display: none;
}

/* Footer End */

/* Filter Area Start */

.breadcrumb {
    margin-top: 26px;
}

.breadcrumb-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.breadcrumb-item a {
    font-weight: 500 !important;
    color: #4F4F4F !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: var(--bs-breadcrumb-item-padding-x);
    color: #4F4F4F !important;
    content: url('/public/images/chevron-right.svg') !important;
}

.filter-dropdown-container {
    width: 100%;
    margin-top: 30px;
}

.filter-dropdown-container hr {
    margin: 8px 0;
}

.filter-heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-heading-wrapper .fa-plus,
.filter-heading-wrapper .fa-minus {
    cursor: pointer;
    color: #4F4F4F;
    font-size: 16px !important;
}

.filter-heading-wrapper h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    padding-left: 10px;
    line-height: 20px;
    color: #4F4F4F;
}

.checkboxes-container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-check {
    display: flex !important;
    gap: 16px !important;
}

.form-check-input {
    background-color: rgba(0, 214, 143, 0.16) !important;
    border: 1px solid #2DD06E !important;
    border-radius: 3px !important;
    width: 20px !important;
    height: 20px !important;
}

.form-check-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #2DD06E !important;
}

.form-check-input:checked {
    background-color: #2DD06E !important;
}

.price-range-container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
}

.price-range-container span {
    width: 52px;
    height: 1px;
    background: #E0E0E0;
}

.input-wrapper {
    position: relative;
}

.input-wrapper .fa-dollar-sign,
.input-wrapper .fa-manat-sign {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.svg-inline--fa {
    padding-right: 8px;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.all-products {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.all-products .card-wrapper {
    width: 286px !important;
}

.all-products .card-wrapper img {
    display: flex;
    align-items: center;
}

.all-products .card__content {
    padding: 16px 20px;
}

.wrapper__headings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-select-selector {
    border: 1px solid #BDBDBD !important;
    border-radius: 8px !important;
}

.ant-select-selection-item {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px !important;
    color: #4F4F4F !important;
}

.ant-select-selector:focus {
    outline: none !important;
    box-shadow: none !important;
}

.mversion-container {
    display: flex;
    justify-content: center;
    margin: 27px 0px !important;
}

.ant-divider-vertical {
    height: 31px !important;
}

.mversion-container h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #303030;
    margin-bottom: 0;
}


.leftSide__mobile,
.rightSide__mobile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
    cursor: pointer;
}

.right-side-mobile__opened {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: white;
    overflow-y: scroll;
}

.mversion_opened_header {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.mversion_opened_header h6 {
    margin-bottom: 0 !important;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #333333;
}

.mversion_opened_header .fa-xmark {
    padding: 0px 22px;
}

.hr-divider {
    margin-top: 0 !important;
}

.show_products_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.show_products_btn .btn {
    background-color: #2DD06E !important;
    border-radius: 8px;
    width: 100%;
    padding: 16px 2px !important;
    color: white !important;
}

.left-side-mobile__opened {
    padding: 20px 0px;
    background-color: white;
}


.left-side-mobile__opened .ant-select {
    width: 100% !important;
}

/* Filter Area End */

/* MEDIA QUERIES START */

@media(min-width: 1400px) {
    .navbar .megamenu {
        padding: 2rem 4rem;
    }
}

@media(max-width: 1400px) {
    .all-products .card-wrapper {
        width: 256px !important;
    }
}

@media(max-width: 1200px) {
    .all-products .card-wrapper {
        width: 225px !important;
    }
}


@media(max-width: 1400px) {
    .navbar-nav {
        gap: 20px;
    }

    .navbar .megamenu {
        padding: 2rem 5rem;
    }
}

@media(max-width: 992px) {

    .navbar-toggler {
        display: block;
    }

    .shopping-icon {
        position: relative;
    }

    .countOfShopping {
        position: absolute;
        bottom: 10px;
        padding: 0px 5px;
    }

    .logo img {
        width: 115px;
    }

    .navbar-collapse {
        position: absolute;
        top: 0;
        width: 100%;
        background: white;
        z-index: 9999;
        padding: 0px 10px;
        height: 100vh !important;
        transition: .3s all ease-in-out;
    }

    .navbar-collapse .nav-item {
        padding: 12px 16px;
    }

    .megamenu .row {
        gap: 20px;
    }

    .navbar-nav {
        gap: unset;
    }

    .navbar .megamenu {
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 0.25rem;
        padding: 2rem;
    }

    .mobile-dropdown {
        display: block;
        width: 6px;
        color: #2E3A59;
    }

    .has-megamenu .nav-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle-wrapper {
        display: flex;
    }

    .search-bar {
        width: 100% !important;
    }

    .mobile-navbar {
        order: 1;
    }

    .header-logo {
        order: 2;
    }

    .header-icons {
        order: 3;
    }

    .search-bar {
        order: 4;
    }

    nav {
        justify-content: space-between;
    }

    .navbar-toggler {
        padding: unset !important;
    }

    .login-and-register-wrapper {
        display: flex;
    }

    .content-img img {
        width: 231px;
        height: 216px;
    }

    .carousel-wrapper {
        flex-direction: column-reverse;
        height: unset;
        gap: 40px;
        margin-top: 32px;
    }

    .main-text h1 {
        font-size: 24px;
        line-height: 23px;
        text-align: center;
    }

    .main-text p {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-top: 16px;
    }

    .ant-carousel .slick-dots {
        display: none !important;
    }

    .reklam-wrapper {
        flex-direction: column;
        gap: 24px;
    }

    .gap-style {
        gap: 20px;
    }

    .advantage-container {
        flex-direction: column;
    }

    .advantage-context {
        margin-top: 30px;
        gap: 16px;
    }

    .our-partners-wrapper {
        display: none;
    }

    footer .col-lg-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 27px;
    }

    footer ul {
        gap: 8px;
    }

    .divider-mobile {
        display: block;
    }

    .divider-destkop {
        display: none;
    }

    .policy-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 24px;
    }

    .policy-mobile a {
        padding: 4px;
        color: white !important;
        opacity: 0.8;
    }

    .footer-destkop-bottom {
        display: none;
    }

    .footer-mobile-bottom {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white !important;
        opacity: 0.8;
    }

    .filter-area-wrapper .breadcrumb {
        display: none;
    }

    .price-range-container {
        justify-content: center !important;
    }

}

@media(max-width: 770px) {
    .all-products{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 480px) {
    .slick-track {
        display: flex !important;
        gap: unset !important;
    }

    .bottom-heading {
        display: flex;
    }

    .headings a {
        display: none;
    }

    .watch-product-container img {
        width: 141px;
    }

    .watch-product-container {
        height: 197px;
    }

    .accessory-product-container {
        height: 197px;
    }

    .accessory-product-container img {
        width: 160px;
    }

    .access-products-wrapper .fa-chevron-right {
        margin-left: 7px !important;
    }

    .access-products-wrapper h5 {
        font-size: 18px !important;
        line-height: 18px;
    }

    .access-products-wrapper span {
        font-size: 12px !important;
    }

    .access-products-wrapper a {
        font-size: 12px !important;
    }

    .access-products-wrapper .product-info {
        gap: unset !important;
    }

    .telefon-product-container {
        height: unset;
    }

    .telefon-product-container .img-container {
        padding-bottom: 80%;
    }

    .all-products {
        display: inline-block;
    }

    .all-products .card-wrapper {
        width: 100% !important;
    }
}


/* MEDIA QUERIES END */